<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/Style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <section class="top">
        <div id="particles-js">
            <div class="container">
                <h1>Ramazan Demirtas the
                    <span class="txt-type" data-wait="3000" data-words='["Web developer", "Software developer", "Full stack developer"]'></span>
                </h1>
            </div>
            <div class="button">
                <a href="#Om-mig"><div class="scroll-down"></div></a>
            </div>
        </div>
    </section>
    
    <Section id="Om-mig">
        <h1>Om mig</h1>
        <div class="Portfolio-item">
            <div class="billede">
                <img src="/Pic/profil.jpg" alt="">
            </div>
            <div class="tekst">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div> 
        </div>
    </Section>
        
    <section class="Mine-Projekter">
        <h1>Mine projekter</h1>           
        <ul class="menu">
            <li data-li="projekter" class="active li">Alle</li>
            <li data-li="csharp" >C#</li>
            <li data-li="web" >Web</li>
        </ul>            
        <div class="item projekter">
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Fight-Game"><img src="" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Fight game C#</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/DanskeBank-Atm-Uden-Database"><img src="#" alt=""></a>
                <div class="details">                    
                    <div class="content">
                        <h2>atm C#</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/bank-atm-upgrade"><img src="" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>bank atm 2.0 c#</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Supermarked"><img src="" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Supermarked c#</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Javascript-dato-og-tid"><img src="/Pic/dato og tid.png" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Dato og tid</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Mapbox-api"><img src="/Pic/Mapbox.png" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Map over Danmarks lufthavne</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Node.Js"><img src="#" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>NodeJs login</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Fly-hjemmeside"><img src="/Pic/fly hjemmeside.png" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Fly hjemmeside</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Ramazandemirtas.com"><img src="/Pic/portfolio.png" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Portfolio</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <img src="/Pic/first-php.JPG" alt="">
                <div class="details">
                    <a href="https://github.com/ramazan-dtas/first-php"></a>
                    <div class="content">
                        <h2>first php</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item csharp" id="csharp">        
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Fight-Game"><img src="" alt=""> </a>
                <div class="details">
                    <div class="content">
                        <h2>Fight game C#</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/DanskeBank-Atm-Uden-Database"><img src="#" alt=""> </a>
                <div class="details">
                    <div class="content">
                        <h2>atm C#</h2>
                    </div>
                </div>
            </div>
            <div class="box">
            <a href="https://github.com/ramazan-dtas/bank-atm-upgrade"><img src="" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>bank atm 2.0 c#</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Supermarked"><img src="" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Supermarked c#</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="item web" id="web">
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Javascript-dato-og-tid"><img src="/Pic/dato og tid.png" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Dato og tid</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Mapbox-api"><img src="/Pic/Mapbox.png" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Map over Danmarks lufthavne</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Node.Js"><img src="#" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>NodeJs login</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Fly-hjemmeside"><img src="/Pic/fly hjemmeside.png" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Fly hjemmeside</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/Ramazandemirtas.com"><img src="/Pic/portfolio.png" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>Portfolio</h2>
                    </div>
                </div>
            </div>
            <div class="box">
                <a href="https://github.com/ramazan-dtas/first-php"><img src="/Pic/first-php.JPG" alt=""></a>
                <div class="details">
                    <div class="content">
                        <h2>first php</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
        
    <section class="Mine-færdigheder" id="Mine-færdigheder">
        <h1>Færdigheder</h1>
        <div class="skill">
            <div class="skill-name">C#</div>
                <div class="skill-bar">
                    <div class="skill-per" per="75" ></div>
                </div>
            </div>
        
            <div class="skill">
                <div class="skill-name">Microsoft SQL</div>
                <div class="skill-bar">
                    <div class="skill-per" per="40"></div>
                </div>
            </div>
        
            <div class="skill">
                <div class="skill-name">HTML5/CSS3</div>
                <div class="skill-bar">
                    <div class="skill-per" per="80"></div>
                </div>
            </div>
        
            <div class="skill">
                <div class="skill-name">NodeJs</div>
                <div class="skill-bar">
                    <div class="skill-per" per="20"></div>
                </div>
            </div>
        
            <div class="skill">
                <div class="skill-name">Javascript</div>
                <div class="skill-bar">
                    <div class="skill-per" per="30"></div>
                </div>
            </div>
    </section>
        
    <section class="Sociale-media">
        <div id="Social-media">
            <div id="social-media">
                <a href="https://github.com/ramazan-dtas" class="fa-github"><img src="/Pic/github_circle_black-512.webp" alt=""></a>
            </div>
            <div id="social-mediaa">
                <a href="https://dk.linkedin.com/in/ramazan-demirtas-8057a1192" class="fa-linkedin"><img src="/Pic/linkedin-42-151143.png" alt=""></a>
            </div>     
        </div>
    </section>

    <div class="loading">
        <div class="obj">
            <span class="circular"></span>
        </div>
    </div>

    <script type="text/javascript" src="/Javascript/particles.js"></script>
    <script type="text/javascript" src="/Javascript/app.js"></script>
    <script type="text/javascript" src="/Javascript/Main.js"></script>
    <script typr="text/javascript" src="/Javascript/ny.js"></script>
</body>
</html>